.modal_page {
    z-index: 10;
    width: 640px;
    height: 100vh;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    .modal_p {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        position: relative;
        .modal {
            background-image: url("/img/detail/modal.png");
            background-repeat: no-repeat;
            text-shadow: 2px 1px 0 #1f93ff;
            margin: 0 20px;
            position: absolute;
            top: 20%;
            width: 600px;
            height: 500px;
            div {
                h3 {
                    padding: 40px 0;
                    font-size: 22px;
                    text-align: center;
                }
                p {
                    width: 500px;
                    margin: 0 auto;
                    line-height: 36px;
                }
            }
            span {
                position: absolute;
                bottom: 26px;
                width: 200px;
                margin: 0 200px;
                padding: 16px 0;
                font-size: 18px;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}

.modal_page_skill {
    z-index: 10;
    width: 640px;
    height: 100vh;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    .modal_p {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        position: relative;
        .modal {
            background-image: url("/img/detail/modal_skill.png");
            background-repeat: no-repeat;
            background-size: 600px 740px;
            text-shadow: 2px 1px 0 #1f93ff;
            margin: 0 20px;
            position: absolute;
            top: 10%;
            width: 600px;
            height: 750px;
            .more {
                h3 {
                    padding: 40px 0;
                    font-size: 22px;
                    text-align: center;
                }
                .skill_list {
                    width: 440px;
                    margin: 20px auto;
                    li {
                        > p {
                            display: flex;
                            align-items: center;
                            gap: 16px;
                            font-size: 22px;
                            padding: 10px 0;
                            cursor: pointer;
                            &::before {
                                content: "â—";
                                font-size: 8px;
                                text-shadow: 2px 1px 0 #1f93ff;
                            }
                        }
                        .skill_description {
                            display: none;
                            width: 440px;
                            height: 80px;
                            padding: 10px 0 0 20px;
                            font-size: 18px;
                            > span {
                            }
                        }
                    }
                }
            }
            > p {
                position: absolute;
                bottom: 26px;
                width: 200px;
                margin: 0 200px;
                padding: 16px 0;
                font-size: 18px;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}
