@font-face { font-family: 'neodgm_code'; src: url('https://neodgm.dalgona.dev/fonts/neodgm_code.woff2') format('woff2'); font-weight: normal; font-style: normal; }
body{margin:0; padding:0; background-color: #01050c;}
p,h1,ul,li,figure {margin:0;padding:0;}
*{box-sizing: border-box;}